.wrapper {
    @if 100vw > 400 {
        width: 85%;
    }
    transform: translateY(15%);
}

.reg-opacity {
    background: rgba(255, 255, 255, 0.7);
}

@keyframes slide-bar {
    0% {
        width: 0;
    }
}

$form-slide-duration: 1s;

.underline {
    width: 80%;
    height: 2px;
    border-radius: 10px;
    margin: auto;
    background: white;
    animation: slide-bar $form-slide-duration 1s backwards ease-in-out;
}

main {
    height: 100vh;
    overflow: scroll;
    background: url('../images/2312056.jpg') no-repeat;
    background-size: cover;
}

h2 {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
}

form {
    animation: slide-down $form-slide-duration both ease-out;

    // background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(200, 200, 200, 0.7);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);

    p {
        margin-top: 1rem;
    }

    .note {
        $link-color: lightcyan;
        color: $link-color;
        &:hover {
            color: lighten($link-color, 10);
                text-decoration: none;
        }
    }

    label {
        color: rgb(30, 30, 30);
    }
}
